@import 'vars';
@import 'mediaqueries';
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap);

*,
::before,
::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: var(--tertiary_bg);
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(151, 151, 151);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid rgb(151, 151, 151);
  /* creates padding around scroll thumb */
}



body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--primary_bg);
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  overflow: hidden;

  :focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: rgb(115, 199, 255);
}

iframe {
  border: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

option {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary_bg);
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.grid-container {
  display: grid;
  transition: all 0.3s ease 0s;
}

.center-videos {
  height: 100vh;
  //display: grid;
  padding: 25px 0 97px 0;
  place-items: center;
  overflow-y: auto;
  user-select: none;
  transition: all 0.3s cubic-bezier(0.2, 0.4, 0.8, 1);
  //align-items: stretch;
  //align-content: stretch;
  //justify-items: stretch;
}

.center-videos:hover>.startStream {
  bottom: 25px;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.2);
}

.startStream {
  color: white;
  position: absolute;
  bottom: 25px;
  background-color: #f92c47;
  font-weight: 600;
  font-size: 1.4rem;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.2, 0.4, 0.8, 1);
  opacity: 1;
}

.videowrapper {
  display: grid;
  place-content: center;
  // make grid-template-columns 50% for two elements and 100% for one element
  // grid-template-columns: 1fr 1fr;
  // grid-template-areas: "video video";
  width: 100%;
  //height: 100%;
  grid-row-gap: 1vw;
  grid-column-gap: 1vw;
  padding: 0 1vw 0 1vw;
  align-content: stretch;

}

.videowrapper-2 {
  display: grid;
  place-content: center;
  // make grid-template-columns 50% for two elements and 100% for one element
  //grid-template-columns: 1fr 1fr;
  // grid-template-areas: "video video";
  width: 100%;
  grid-row-gap: 1vw;
  grid-column-gap: 1vw;
  max-width: 55vw;
  align-content: stretch;

  video {
    position: relative;
  }
}




.videoElement {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  background-color: var(--secondary_bg);
  padding-top: 56.25%;
  min-width: 100px;
  min-height: 100px;
}

.thumbnail {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 1;
}

.videoElement:hover>.streamVolumeSlider,
.videoElement:hover>.fullscreenBTN {
  opacity: 1;
  transition: 0.25s;
}

.avatar {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: contain;
}

.namePlaceholder {
  position: absolute;
  z-index: 99;
  bottom: 10px;
  left: 10px;
  background-color: rgba(47, 49, 54, 0.82);
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  padding: 5px;
}

.botStage {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: center;
}

.stage {
  height: 100%;
  width: 100%;
}




::-webkit-resizer {
  border: 4px solid rgb(209, 209, 209);
  background: blue;
  //box-shadow: 0 0 2px 5px rgba(212, 212, 212, 0);
  //outline: 2px dashed green;

  /*size does not work*/
  display: block;
  width: 150px !important;
  height: 150px !important;
}

.infoDataWrapper {
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100px;
  background-color: rgba(10, 10, 10, 0.15);
  font-size: 10px;
  resize: both;
  overflow: auto;
}

.infoDataWrapper::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.infoDataWrapper::-webkit-scrollbar-track {
  background: var(--tertiary_bg);
  /* color of the tracking area */
}

.infoDataWrapper::-webkit-scrollbar-thumb {
  background-color: rgb(151, 151, 151);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 10px solid rgb(151, 151, 151);
  /* creates padding around scroll thumb */
}



.infoDataWrapper .header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 15px;
  background-color: rgb(21, 21, 21);
}

.infoData {
  background-color: #0f151ad3;
  color: white;
}

.infoDataHeader {
  padding-left: 5px;
  padding-top: 5px;
}

.infoDataBody {
  padding-left: 5px;

}

.tabsWrapper {
  position: relative;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.tabBody {
  display: none;
  position: absolute;
  top: 25px;
  margin-top: 5px;
}

.tabsHeader {
  width: 100%;
  left: 0px;
  top: 0px;
  background-color: rgb(21, 21, 21);
  height: min-content;
  cursor: grab;
  position: sticky;
  z-index: 99;
}

.tabsHeaderItem {
  padding: 5px;
  background-color: #1928465c;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.tabsHeaderItem:hover {
  background-color: #1b387283;
}

.active {
  display: block;
}

.fullscreenBTN {
  position: absolute;
  z-index: 99;
  right: 12px;
  bottom: 10px;
  background-color: var(--secondary_bg);
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  padding: 0;
  border: none;
  opacity: 0;
  transition: 0.25s;
}

.streamVolumeSlider {
  position: absolute;
  z-index: 99;
  bottom: 10px;
  right: 40px;
  background-color: var(--secondary_bg);
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  padding: 5px;
  opacity: 0;
  transition: 0.25s;
}

.list-connected-users {
  //max-width: 392px;
  //margin: 25px 0 0 25px;
  margin: 25px;
  border-radius: 15px;
  background-color: var(--secondary_bg);
  justify-content: space-between;
  //padding: 9px 10px 9px 10px;
  cursor: default;
  max-height: calc(100vh - 80px);
  overflow: auto;
  height: fit-content;
}

.connected-user-wrapper {
  //position: relative;
  //display: flex;
  //align-items: center;
  margin: 10px;
}

.connected-user {
  display: flex;
  width: 100%;
  align-items: center;
  padding-right: 10px;
}

.connected-user img {
  display: flex;
  width: var(--avatar_size);
  height: var(--avatar_size);
  object-fit: contain;
  align-items: center;
  border-radius: 50%;
}

.connected-user>span {
  color: white;
  font-size: 12px;
  font-weight: 400;
  padding-left: 10px;
}

.right-sidebar {
  height: 100%;
  border-radius: 5px 0 0 5px;
}

.left-sidebar {
  height: 100%;
  border-radius: 0px 5px 5px 0px;
  display: grid;
  //place-content: space-between end;
}

.chat-body {
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 15px;
  transition: all 0.2s cubic-bezier(0.2, 0.4, 0.8, 1);
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-message {
  position: relative;
  left: 55px;
  color: #d7d7d7;
  font-size: 1rem;
  font-weight: 400;
}

.chat-message-content {
  margin-top: 10px;
  color: #d7d7d7;
  font-size: 1rem;
  word-break: break-word;
}

.chat-message-avatar {
  img {
    width: var(--avatar_size);
    height: var(--avatar_size);
    border-radius: 100%;
  }
}

.chat-message-wrapper {
  display: flex;
  //flex-direction: column;

  flex-direction: row;
  gap: 15px;

  align-items: flex-start;
  margin: 15px 5px 15px 5px;
  //background-color: var(--secondary_bg);
  padding: 9px 10px 9px 10px;
  cursor: default;
  border-top-color: #4b5c6a29;
  border-top-style: ridge;
  border-top-width: 1px;
}


.chat-input {
  bottom: 40px;
  color: white;
  font-weight: 600;
  margin: 10px 9px 10px 5px;
}

.text {
  &-light {
    color: #e9e9e9;
  }

  &-dark {
    color: #1b1b1b;
  }
}

.highlight {
  color: #ffffff;
  border: 3px solid #ff0000;
  background-color: #00af5d;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  color: #d7d7d7;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid var(--primary_bg);
  background-color: var(--secondary_bg);
  resize: none;
  font-family: Inter, -apple-system, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  overflow: hidden;

  &:focus {
    border: 1px solid rgb(118, 118, 118);
  }
}

.connected-user-wrapper {
  display: flex;
  justify-content: space-between;
}

.chat-message-username {
  font-weight: 500;
  color: var(--text_primary_color);
  font-size: 1rem;
}

.chat-message-time {
  font-weight: 400;
  color: #d7d7d7;
  font-size: 0.75rem;
}

.connected-user>.chat-message-time {
  font-size: 12px;
  font-weight: 250;
}


.button {
  padding: 5px 10px 5px 10px;
  text-align: center;
  color: white;
  font-weight: 600;
  user-select: none;
  cursor: pointer;

  &-startStreaming {
    @extend .button;
    border-radius: 10px;
    background-color: #f92c47;
    font-size: 24px;
  }

  &-watch {
    @extend .button;
    border-radius: 5px;
    background-color: #36393F;
    color: #e9e9e9;
    font-size: 1.1rem;
  }
}



video {
  position: absolute;
  //object-fit: contain;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Could Use thise as well for Individual Controls */
video::-webkit-media-controls-play-button {
  //display: none;
  //background-image: url('/svg/fullscreen.svg');
}

video::-webkit-media-controls-timeline {
  display: none;
}

video::-webkit-media-controls-current-time-display {
  display: none;
}

video::-webkit-media-controls-fullscreen-button {
  //background-image: url('/svg/fullscreen.svg');
}

//video::-webkit-media-controls-volume-slider {}


.testButtons {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #175ec7;
}

.row {
  display: flex;
  width: 100%
}

.row::after {
  /* display: block;*/
  clear: both;
  content: "";
}

.col-1 {
  width: 8.33%
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  //border: 2px solid grey;
  padding: 15px;
  float: left;
}

modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #fff;
  font-size: 1rem;
}

.modal-content {
  width: 100%;
  height: 100%;

  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--modal_header_bg);
  border-radius: 10px 10px 0 0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--secondary_bg);
  border-radius: 0 0 0px 0px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #36393F;
  border-radius: 0 0 10px 10px;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.btn {
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  color: rgb(110, 110, 110);
  font-weight: 600;
  user-select: none;
  cursor: pointer;
  border: 1;

  &-primary {
    @extend .btn;
    background-color: var(--secondary_bg);
    font-size: 28px;
  }

  &-secondary {
    @extend .btn;
    background-color: var(--secondary_bg);
    font-size: 20px;
  }
}

.chat-open-close-btn {
  position: absolute;
  top: 50%;
  left: -20px;
  padding: 0px;
  width: 25px;
  height: 25px;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.bot_bar {
  position: absolute;
  background-color: #36393F;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10px;
  bottom: 0px;
  transition: all 0.3s cubic-bezier(0.2, 0.4, 0.8, 1);
  padding-top: 0px;
  width: 100%;
  gap: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.bot_bar_hover {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 60px;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 0px 10px;
  transform: translateX(-50%);
}

.bot_bar_hover:hover>.bot_bar {

  height: 50px;
}

.bot_bar_hover:hover>.bot_bar>.bot_bar_item,
.bot_bar_hover:hover>.bot_bar>.button-startStreaming {
  visibility: visible;
  height: 50px;
  padding-top: 0px;

}

.bot_bar_item {
  transition: all 0.3s cubic-bezier(0.2, 0.4, 0.8, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  //width: 120px;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  font-size: inherit;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  visibility: hidden;
}

.bot_bar_item:hover {
  color: #b1b1b1;
}

.bot_bar_item img {
  width: 30px;
  height: 30px;
  margin-right: 0px;
}