*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #202225;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.videowrapper {
  display: grid;
}

video {
  pointer-events: none;
}

.testButtons {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #175ec7;
}