:root {
    --primary_bg: #202225;
    --secondary_bg: #2f3136;
    --tertiary_bg: #36393F;
    --modal_header_bg: #36393F;
    --red: #f92c47;

    --text_primary_size: 10px;
    --text_secondary_size: 12px;
    --text_primary_color: #fff;
    --text_secondary_color: #fff;
    --text_primary_weight: 400;
    --text_secondary_weight: 600;
    --avatar_size: 20px;
}